/*
само полотно 
width: 1920px;
height: 6814px;

сам контейнер
width: 1720px;
height: 852px;

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/














































